/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #494D5F;
}

/*  Header */
header {
    background-color: lightblue;
} 

/* Main content */
main {
    background-color: lightgreen;
    /* Make main element push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: yellow;
}