/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Protest+Riot&display=swap');

/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #494D5F;
    font-family: 'Nunito Sans', sans-serif;
}

/*  Header */
header {
    background-color: lightblue;
} 
h1 {
    font-family: 'Protest Riot', sans-serif;
}

#logo {
    color: #494D5F;
    margin: 5px 15px;
}

a {
    text-decoration: none;
}
/* Main content */
main {
    background-color: lightgreen;
    /* Make main element push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: yellow;
}